@use 'grid' as g;

@mixin row-base {
    display: flex;
    min-height: $input-height;
    align-items: center;

    @include g.on-mobile {
        min-height: $input-height-touch;
    }
}

@mixin column-base {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.calendar-grid {
    @include column-base;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: $gap;
}

.calendar-weekday {
    @include row-base;

    text-align: center;
    color: $text-muted;
}

.calendar-month {
    @include row-base;

    font-size: $font-lg;
    color: $color-primary;
}

.calendar-week {
    @include column-base;

    @include g.on-desktop {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
}

.calendar-cell {
    @include column-base;

    min-height: $input-height * 2;

    @include g.on-mobile {
        min-height: $input-height-touch * 2;
    }

    &.today {
        background: rgba($color-primary, 0.25);

        .calendar-day-number>.bullet {
            background: none;
        }
    }

    .calendar-day-number>.bullet {
        height: $input-height;
        aspect-ratio: 1;
        display: inline-flex;
        background: rgba($color-secondary, 0.25);
        padding: $padding;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $bold-weight;

        @include g.on-mobile {
            height: $input-height-touch;
        }
    }
}

.calendar-day-number {
    @include row-base;
    gap: $text-gap;
    font-size: $font-lg;
    color: $text-muted;
}

.calendar-items {
    @include column-base;
}

.calendar-item {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-subtle-transparent;

    background: $bg-dark-transparent;
    color: $text-primary;
    min-height: $input-height;

    @include g.on-mobile {
        min-height: $input-height-touch;
    }

    &.clickable:hover {
        background: $color-primary;
        color: #fff;

        .calendar-item-code {
            color: inherit;
        }
    }
}

.calendar-item-title {
    @include row-base;
    gap: $text-gap;
    padding: $gap-sm;

    @include g.on-mobile {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    @include g.on-desktop {
        font-size: $font-xs;
    }

    .item-inline {
        align-self: flex-start;
    }

    &.clickable:hover {
        background: $color-primary;
        color: #fff;

        .calendar-item-code {
            color: inherit;
        }
    }
}

.calendar-item-code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $text-gap;
    padding: 0 $gap-sm;

    color: $text-muted;
    font-family: monospace;
    height: $input-height-touch;

    @include g.on-desktop {
        font-size: $font-xs;
        height: $input-height;
    }

    &.clickable:hover {
        background: $color-primary;
        color: #fff;

        .calendar-item-code {
            color: inherit;
        }
    }
}

.day-of-week {
    display: flex;
    align-items: center;
    gap: $text-gap;
}
