@use 'flags_generated' as flags;

.flag {
    display: inline-block;
    vertical-align: middle;

    height: 100%;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;

    &.sm {
        height: 80%;
    }

    @each $name, $svg in flags.$names {
        &.#{$name} {
            background-image: url('/static/flags/#{$svg}.svg');
        }
    }
}
