@mixin flag($name) {
    &.#{$name} {
        background-image: url('/static/flags/#{$name}.svg');
    }
}

.flag {
    display: inline-block;
    vertical-align: middle;

    height: 100%;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;

    &.sm {
        height: 80%;
    }

    @include flag('ad');
    @include flag('ae');
    @include flag('af');
    @include flag('ag');
    @include flag('ai');
    @include flag('al');
    @include flag('am');
    @include flag('ao');
    @include flag('aq');
    @include flag('ar');
    @include flag('arab');
    @include flag('as');
    @include flag('asean');
    @include flag('at');
    @include flag('au');
    @include flag('aw');
    @include flag('ax');
    @include flag('az');
    @include flag('ba');
    @include flag('bb');
    @include flag('bd');
    @include flag('be');
    @include flag('bf');
    @include flag('bg');
    @include flag('bh');
    @include flag('bi');
    @include flag('bj');
    @include flag('bl');
    @include flag('bm');
    @include flag('bn');
    @include flag('bo');
    @include flag('bq');
    @include flag('br');
    @include flag('bs');
    @include flag('bt');
    @include flag('bv');
    @include flag('bw');
    @include flag('by');
    @include flag('bz');
    @include flag('ca');
    @include flag('cc');
    @include flag('cd');
    @include flag('cefta');
    @include flag('cf');
    @include flag('cg');
    @include flag('ch');
    @include flag('ci');
    @include flag('ck');
    @include flag('cl');
    @include flag('cm');
    @include flag('cn');
    @include flag('co');
    @include flag('cp');
    @include flag('cr');
    @include flag('cu');
    @include flag('cv');
    @include flag('cw');
    @include flag('cx');
    @include flag('cy');
    @include flag('cz');
    @include flag('de');
    @include flag('dg');
    @include flag('dj');
    @include flag('dk');
    @include flag('dm');
    @include flag('do');
    @include flag('dz');
    @include flag('eac');
    @include flag('ec');
    @include flag('ee');
    @include flag('eg');
    @include flag('eh');
    @include flag('er');
    @include flag('es-ct');
    @include flag('es-ga');
    @include flag('es-pv');
    @include flag('es');
    @include flag('et');
    @include flag('eu');
    @include flag('fi');
    @include flag('fj');
    @include flag('fk');
    @include flag('fm');
    @include flag('fo');
    @include flag('fr');
    @include flag('ga');
    @include flag('gb-eng');
    @include flag('gb-nir');
    @include flag('gb-sct');
    @include flag('gb-wls');
    @include flag('gb');
    @include flag('gd');
    @include flag('ge');
    @include flag('gf');
    @include flag('gg');
    @include flag('gh');
    @include flag('gi');
    @include flag('gl');
    @include flag('gm');
    @include flag('gn');
    @include flag('gp');
    @include flag('gq');
    @include flag('gr');
    @include flag('gs');
    @include flag('gt');
    @include flag('gu');
    @include flag('gw');
    @include flag('gy');
    @include flag('hk');
    @include flag('hm');
    @include flag('hn');
    @include flag('hr');
    @include flag('ht');
    @include flag('hu');
    @include flag('ic');
    @include flag('id');
    @include flag('ie');
    @include flag('il');
    @include flag('im');
    @include flag('in');
    @include flag('io');
    @include flag('iq');
    @include flag('ir');
    @include flag('is');
    @include flag('it');
    @include flag('je');
    @include flag('jm');
    @include flag('jo');
    @include flag('jp');
    @include flag('ke');
    @include flag('kg');
    @include flag('kh');
    @include flag('ki');
    @include flag('km');
    @include flag('kn');
    @include flag('kp');
    @include flag('kr');
    @include flag('kw');
    @include flag('ky');
    @include flag('kz');
    @include flag('la');
    @include flag('lb');
    @include flag('lc');
    @include flag('li');
    @include flag('lk');
    @include flag('lr');
    @include flag('ls');
    @include flag('lt');
    @include flag('lu');
    @include flag('lv');
    @include flag('ly');
    @include flag('ma');
    @include flag('mc');
    @include flag('md');
    @include flag('me');
    @include flag('mf');
    @include flag('mg');
    @include flag('mh');
    @include flag('mk');
    @include flag('ml');
    @include flag('mm');
    @include flag('mn');
    @include flag('mo');
    @include flag('mp');
    @include flag('mq');
    @include flag('mr');
    @include flag('ms');
    @include flag('mt');
    @include flag('mu');
    @include flag('mv');
    @include flag('mw');
    @include flag('mx');
    @include flag('my');
    @include flag('mz');
    @include flag('na');
    @include flag('nc');
    @include flag('ne');
    @include flag('nf');
    @include flag('ng');
    @include flag('ni');
    @include flag('nl');
    @include flag('no');
    @include flag('np');
    @include flag('nr');
    @include flag('nu');
    @include flag('nz');
    @include flag('om');
    @include flag('pa');
    @include flag('pc');
    @include flag('pe');
    @include flag('pf');
    @include flag('pg');
    @include flag('ph');
    @include flag('pk');
    @include flag('pl');
    @include flag('pm');
    @include flag('pn');
    @include flag('pr');
    @include flag('ps');
    @include flag('pt');
    @include flag('pw');
    @include flag('py');
    @include flag('qa');
    @include flag('re');
    @include flag('ro');
    @include flag('rs');
    @include flag('ru');
    @include flag('rw');
    @include flag('sa');
    @include flag('sb');
    @include flag('sc');
    @include flag('sd');
    @include flag('se');
    @include flag('sg');
    @include flag('sh-ac');
    @include flag('sh-hl');
    @include flag('sh-ta');
    @include flag('sh');
    @include flag('si');
    @include flag('sj');
    @include flag('sk');
    @include flag('sl');
    @include flag('sm');
    @include flag('sn');
    @include flag('so');
    @include flag('sr');
    @include flag('ss');
    @include flag('st');
    @include flag('sv');
    @include flag('sx');
    @include flag('sy');
    @include flag('sz');
    @include flag('tc');
    @include flag('td');
    @include flag('tf');
    @include flag('tg');
    @include flag('th');
    @include flag('tj');
    @include flag('tk');
    @include flag('tl');
    @include flag('tm');
    @include flag('tn');
    @include flag('to');
    @include flag('tr');
    @include flag('tt');
    @include flag('tv');
    @include flag('tw');
    @include flag('tz');
    @include flag('ua');
    @include flag('ug');
    @include flag('um');
    @include flag('un');
    @include flag('us');
    @include flag('uy');
    @include flag('uz');
    @include flag('va');
    @include flag('vc');
    @include flag('ve');
    @include flag('vg');
    @include flag('vi');
    @include flag('vn');
    @include flag('vu');
    @include flag('wf');
    @include flag('ws');
    @include flag('xk');
    @include flag('xx');
    @include flag('ye');
    @include flag('yt');
    @include flag('za');
    @include flag('zm');
    @include flag('zw');
}
