$mobile-limit: 768px;

@mixin on-mobile {
    @media (max-width: #{$mobile-limit - 1px}) {
        @content;
    }
}

@mixin on-desktop {
    @media (min-width: $mobile-limit) {
        @content;
    }
}

.hide-mobile {
    @include on-mobile {
        display: none !important;
    }
}

.show-mobile {
    @include on-desktop {
        display: none !important;
    }
}
