@use 'icons_generated' as icons;

@mixin icon($name) {
    &.#{$name} {
        mask-image: url('/static/icons/#{$name}.svg');
        background-color: var(--icon-color);

        &.invert {
            background-color: var(--icon-color-invert);
        }
    }
}

@mixin color_image($name) {
    &.#{$name} {
        background-image: url('/static/icons/#{$name}.svg');
    }
}

.icon-4x3 {
    aspect-ratio: 4 / 3 !important;
}

.icon {
    display: inline-block;
    vertical-align: middle;

    height: 100%;
    aspect-ratio: 1;

    &.primary {
        --icon-color: #{$color-primary};
    }

    &.secondary {
        --icon-color: #{$color-secondary};
    }

    &.sm {
        height: 80%;
    }

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    @each $name in icons.$names {
        @include icon($name);
    }
}
