@use 'icons_generated' as icons;
@use 'vars' as v;
@use 'grid' as g;

@mixin icon($name) {
    &.#{$name} {
        mask-image: url('/static/icons/#{$name}.svg');
        background-color: var(--icon-color);

        &.invert {
            background-color: var(--icon-color-invert);
        }
    }
}

@mixin color_image($name) {
    &.#{$name} {
        background-image: url('/static/icons/#{$name}.svg');
    }
}

.icon-4x3 {
    aspect-ratio: 4 / 3 !important;
}

.icon {
    display: inline-block;
    vertical-align: middle;

    height: v.$icon-size;
    aspect-ratio: 1;
    flex-shrink: 0;

    @include g.on-mobile {
        height: v.$icon-size-touch;
    }

    &.primary {
        --icon-color: #{v.$color-primary};
    }

    &.secondary {
        --icon-color: #{v.$color-secondary};
    }

    &.success {
        --icon-color: #{v.$color-success};
    }

    &.danger {
        --icon-color: #{v.$color-danger};
    }

    &.sm {
        height: v.$icon-size-sm;
    }

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    @each $name in icons.$names {
        @include icon($name);
    }
}
