@mixin icon($name) {
    &.#{$name} {
        mask-image: url('/static/icons/#{$name}.svg');
        background-color: var(--icon-color);

        &.invert {
            background-color: var(--icon-color-invert);
        }
    }
}

@mixin color_image($name) {
    &.#{$name} {
        background-image: url('/static/icons/#{$name}.svg');
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;

    height: 100%;
    aspect-ratio: 1;

    &.sm {
        height: 80%;
    }

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    @include icon('academic-cap');
    @include icon('adjustments-horizontal');
    @include icon('adjustments-vertical');
    @include icon('archive-box-arrow-down');
    @include icon('archive-box-x-mark');
    @include icon('archive-box');
    @include icon('arrow-down-circle');
    @include icon('arrow-down-left');
    @include icon('arrow-down-on-square-stack');
    @include icon('arrow-down-on-square');
    @include icon('arrow-down-right');
    @include icon('arrow-down-tray');
    @include icon('arrow-down');
    @include icon('arrow-left-circle');
    @include icon('arrow-left-end-on-rectangle');
    @include icon('arrow-left-on-rectangle');
    @include icon('arrow-left-start-on-rectangle');
    @include icon('arrow-left');
    @include icon('arrow-long-down');
    @include icon('arrow-long-left');
    @include icon('arrow-long-right');
    @include icon('arrow-long-up');
    @include icon('arrow-path-rounded-square');
    @include icon('arrow-path');
    @include icon('arrow-right-circle');
    @include icon('arrow-right-end-on-rectangle');
    @include icon('arrow-right-on-rectangle');
    @include icon('arrow-right-start-on-rectangle');
    @include icon('arrow-right');
    @include icon('arrow-small-down');
    @include icon('arrow-small-left');
    @include icon('arrow-small-right');
    @include icon('arrow-small-up');
    @include icon('arrow-top-right-on-square');
    @include icon('arrow-trending-down');
    @include icon('arrow-trending-up');
    @include icon('arrow-turn-down-left');
    @include icon('arrow-turn-down-right');
    @include icon('arrow-turn-left-down');
    @include icon('arrow-turn-left-up');
    @include icon('arrow-turn-right-down');
    @include icon('arrow-turn-right-up');
    @include icon('arrow-turn-up-left');
    @include icon('arrow-turn-up-right');
    @include icon('arrow-up-circle');
    @include icon('arrow-up-left');
    @include icon('arrow-up-on-square-stack');
    @include icon('arrow-up-on-square');
    @include icon('arrow-up-right');
    @include icon('arrow-up-tray');
    @include icon('arrow-up');
    @include icon('arrow-uturn-down');
    @include icon('arrow-uturn-left');
    @include icon('arrow-uturn-right');
    @include icon('arrow-uturn-up');
    @include icon('arrows-pointing-in');
    @include icon('arrows-pointing-out');
    @include icon('arrows-right-left');
    @include icon('arrows-up-down');
    @include icon('at-symbol');
    @include icon('backspace');
    @include icon('backward');
    @include icon('banknotes');
    @include icon('bars-2');
    @include icon('bars-3-bottom-left');
    @include icon('bars-3-bottom-right');
    @include icon('bars-3-center-left');
    @include icon('bars-3');
    @include icon('bars-4');
    @include icon('bars-arrow-down');
    @include icon('bars-arrow-up');
    @include icon('battery-0');
    @include icon('battery-50');
    @include icon('battery-100');
    @include icon('beaker');
    @include icon('bell-alert');
    @include icon('bell-slash');
    @include icon('bell-snooze');
    @include icon('bell');
    @include icon('bold');
    @include icon('bolt-slash');
    @include icon('bolt');
    @include icon('book-open');
    @include icon('bookmark-slash');
    @include icon('bookmark-square');
    @include icon('bookmark');
    @include icon('briefcase');
    @include icon('bug-ant');
    @include icon('building-library');
    @include icon('building-office-2');
    @include icon('building-office');
    @include icon('building-storefront');
    @include icon('cake');
    @include icon('calculator');
    @include icon('calendar-date-range');
    @include icon('calendar-days');
    @include icon('calendar');
    @include icon('camera');
    @include icon('chart-bar-square');
    @include icon('chart-bar');
    @include icon('chart-pie');
    @include icon('chat-bubble-bottom-center-text');
    @include icon('chat-bubble-bottom-center');
    @include icon('chat-bubble-left-ellipsis');
    @include icon('chat-bubble-left-right');
    @include icon('chat-bubble-left');
    @include icon('chat-bubble-oval-left-ellipsis');
    @include icon('chat-bubble-oval-left');
    @include icon('check-badge');
    @include icon('check-circle');
    @include icon('check');
    @include icon('chevron-double-down');
    @include icon('chevron-double-left');
    @include icon('chevron-double-right');
    @include icon('chevron-double-up');
    @include icon('chevron-down');
    @include icon('chevron-left');
    @include icon('chevron-right');
    @include icon('chevron-up-down');
    @include icon('chevron-up');
    @include icon('circle-stack');
    @include icon('clipboard-document-check');
    @include icon('clipboard-document-list');
    @include icon('clipboard-document');
    @include icon('clipboard');
    @include icon('clock');
    @include icon('cloud-arrow-down');
    @include icon('cloud-arrow-up');
    @include icon('cloud');
    @include icon('code-bracket-square');
    @include icon('code-bracket');
    @include icon('cog-6-tooth');
    @include icon('cog-8-tooth');
    @include icon('cog');
    @include icon('command-line');
    @include icon('computer-desktop');
    @include icon('cpu-chip');
    @include icon('credit-card');
    @include icon('cube-transparent');
    @include icon('cube');
    @include icon('currency-bangladeshi');
    @include icon('currency-dollar');
    @include icon('currency-euro');
    @include icon('currency-pound');
    @include icon('currency-rupee');
    @include icon('currency-yen');
    @include icon('cursor-arrow-rays');
    @include icon('cursor-arrow-ripple');
    @include icon('device-phone-mobile');
    @include icon('device-tablet');
    @include icon('divide');
    @include icon('document-arrow-down');
    @include icon('document-arrow-up');
    @include icon('document-chart-bar');
    @include icon('document-check');
    @include icon('document-currency-bangladeshi');
    @include icon('document-currency-dollar');
    @include icon('document-currency-euro');
    @include icon('document-currency-pound');
    @include icon('document-currency-rupee');
    @include icon('document-currency-yen');
    @include icon('document-duplicate');
    @include icon('document-magnifying-glass');
    @include icon('document-minus');
    @include icon('document-plus');
    @include icon('document-text');
    @include icon('document');
    @include icon('ellipsis-horizontal-circle');
    @include icon('ellipsis-horizontal');
    @include icon('ellipsis-vertical');
    @include icon('envelope-open');
    @include icon('envelope');
    @include icon('equals');
    @include icon('exclamation-circle');
    @include icon('exclamation-triangle');
    @include icon('eye-dropper');
    @include icon('eye-slash');
    @include icon('eye');
    @include icon('face-frown');
    @include icon('face-smile');
    @include icon('film');
    @include icon('finger-print');
    @include icon('fire');
    @include icon('flag');
    @include icon('folder-arrow-down');
    @include icon('folder-minus');
    @include icon('folder-open');
    @include icon('folder-plus');
    @include icon('folder');
    @include icon('forward');
    @include icon('funnel');
    @include icon('gif');
    @include icon('gift-top');
    @include icon('gift');
    @include icon('globe-alt');
    @include icon('globe-americas');
    @include icon('globe-asia-australia');
    @include icon('globe-europe-africa');
    @include icon('h1');
    @include icon('h2');
    @include icon('h3');
    @include icon('hand-raised');
    @include icon('hand-thumb-down');
    @include icon('hand-thumb-up');
    @include icon('hashtag');
    @include icon('heart');
    @include icon('home-modern');
    @include icon('home');
    @include icon('identification');
    @include icon('inbox-arrow-down');
    @include icon('inbox-stack');
    @include icon('inbox');
    @include icon('information-circle');
    @include icon('italic');
    @include icon('key');
    @include icon('language');
    @include icon('lifebuoy');
    @include icon('light-bulb');
    @include icon('link-slash');
    @include icon('link');
    @include icon('list-bullet');
    @include icon('lock-closed');
    @include icon('lock-open');
    @include icon('magnifying-glass-circle');
    @include icon('magnifying-glass-minus');
    @include icon('magnifying-glass-plus');
    @include icon('magnifying-glass');
    @include icon('map-pin');
    @include icon('map');
    @include icon('megaphone');
    @include icon('microphone');
    @include icon('minus-circle');
    @include icon('minus-small');
    @include icon('minus');
    @include icon('moon');
    @include icon('musical-note');
    @include icon('newspaper');
    @include icon('no-symbol');
    @include icon('numbered-list');
    @include icon('paint-brush');
    @include icon('paper-airplane');
    @include icon('paper-clip');
    @include icon('pause-circle');
    @include icon('pause');
    @include icon('pencil-square');
    @include icon('pencil');
    @include icon('percent-badge');
    @include icon('phone-arrow-down-left');
    @include icon('phone-arrow-up-right');
    @include icon('phone-x-mark');
    @include icon('phone');
    @include icon('photo');
    @include icon('play-circle');
    @include icon('play-pause');
    @include icon('play');
    @include icon('plus-circle');
    @include icon('plus-small');
    @include icon('plus');
    @include icon('power');
    @include icon('presentation-chart-bar');
    @include icon('presentation-chart-line');
    @include icon('printer');
    @include icon('puzzle-piece');
    @include icon('qr-code');
    @include icon('question-mark-circle');
    @include icon('queue-list');
    @include icon('radio');
    @include icon('receipt-percent');
    @include icon('receipt-refund');
    @include icon('rectangle-group');
    @include icon('rectangle-stack');
    @include icon('rocket-launch');
    @include icon('rss');
    @include icon('scale');
    @include icon('scissors');
    @include icon('server-stack');
    @include icon('server');
    @include icon('share');
    @include icon('shield-check');
    @include icon('shield-exclamation');
    @include icon('shopping-bag');
    @include icon('shopping-cart');
    @include icon('signal-slash');
    @include icon('signal');
    @include icon('slash');
    @include icon('sparkles');
    @include icon('speaker-wave');
    @include icon('speaker-x-mark');
    @include icon('square-2-stack');
    @include icon('square-3-stack-3d');
    @include icon('squares-2x2');
    @include icon('squares-plus');
    @include icon('star');
    @include icon('stop-circle');
    @include icon('stop');
    @include icon('strikethrough');
    @include icon('sun');
    @include icon('swatch');
    @include icon('table-cells');
    @include icon('tag');
    @include icon('ticket');
    @include icon('trash');
    @include icon('trophy');
    @include icon('truck');
    @include icon('tv');
    @include icon('underline');
    @include icon('user-circle');
    @include icon('user-group');
    @include icon('user-minus');
    @include icon('user-plus');
    @include icon('user');
    @include icon('users');
    @include icon('variable');
    @include icon('video-camera-slash');
    @include icon('video-camera');
    @include icon('view-columns');
    @include icon('viewfinder-circle');
    @include icon('wallet');
    @include icon('wifi');
    @include icon('window');
    @include icon('wrench-screwdriver');
    @include icon('wrench');
    @include icon('x-circle');
    @include icon('x-mark');
}
