@use 'sass:color';

@use 'vars' as v;
@use 'grid' as g;

@mixin is-icon-only {
    @include g.on-mobile {
        &:not(.mobile-has-text, .has-text) {
            @content;
        }
    }

    @include g.on-desktop {
        &:not(.desktop-has-text, .has-text) {
            @content;
        }
    }
}

@mixin has-text {
    &.has-text {
        &>.icon:first-child, &>.mark:first-child {
            margin-inline-start: -0.25em;
        }
    }

    &.has-text {
        padding: v.$padding v.$padding * 2;
    }

    @include g.on-mobile {
        &.mobile-has-text {
            padding: v.$padding v.$padding * 2;

            &>.icon:first-child, &>.mark:first-child {
                margin-inline-start: -0.25em;
            }
        }

        &:not(.mobile-has-text, .has-text) {
            justify-content: center;
        }
    }

    @include g.on-desktop {
        &.desktop-has-text {
            padding: v.$padding v.$padding * 2;

            &>.icon:first-child, &>.mark:first-child {
                margin-inline-start: -0.25em;
            }
        }

        &:not(.desktop-has-text, .has-text) {
            justify-content: center;
        }
    }
}

@mixin button-color($color) {
    background-color: color.adjust($color, $lightness: v.$adjust-bg);

    &.selected {
        background-color: $color;
    }
}

@mixin input-base($hover: true, $has-border: true, $editable: false) {
    display: flex;
    flex-direction: row;
    gap: v.$text-gap;
    align-items: center;

    background: v.$bg-surface;
    color: v.$text-primary;
    font-size: v.$font-sm;
    font-family: v.$sans-serif-font;

    height: v.$input-height;
    min-width: 0;

    @if $editable {
        padding: v.$padding v.$padding * 2;
    }

    @if not $editable {
        padding: v.$padding;
        @include has-text;
    }

    @include g.on-mobile {
        height: v.$input-height-touch;
    }

    border-radius: v.$radius;

    @if $has-border {
        border-width: 1px;
        border-style: solid;
        border-color: v.$border-input;
    }

    @if $hover {
        &:hover:not(.disabled):not(:disabled) {
            outline: none;
            border-color: v.$color-primary;
        }
    }

    user-select: none;
}

button,
.button {
    @include input-base;

    --icon-color: #{v.$text-color};
    color: v.$text-color;

    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    &:not(.disabled):not(:disabled) {
        cursor: pointer;
    }

    @include button-color(v.$color-secondary);

    &.primary {
        @include button-color(v.$color-primary);
    }

    &.success {
        @include button-color(v.$color-success);
    }

    &.danger {
        @include button-color(v.$color-danger);
    }

    &.fill {
        flex: 1;
    }

    &.disabled, &:disabled {
        opacity: 0.5;
        cursor: default;
    }

    &.selected {
        --icon-color: #{v.$text-color-selected};
        color: v.$text-color-selected;
    }
}

.input-label {
    @include input-base($hover: false, $has-border: false);

    background-color: color.adjust(v.$color-secondary, $lightness: v.$adjust-bg);
}

.input-text {
    @include input-base($editable: true);

    &.selected {
        --icon-color: #{v.$text-color-selected};
        color: v.$text-color-selected;
        background-color: color.adjust(v.$color-primary, $lightness: v.$adjust-bg);
        border-color: color.adjust(v.$color-primary, $lightness: v.$adjust-bg);
    }
}

.input-select {
    @include input-base($editable: true);
}

.input-number {
    @include input-base($editable: true);

    @include g.on-desktop {
        width: 96px;
    }
}

.input-checkbox {
    @include input-base;
    cursor: pointer;

    >.mark {
        height: 100%;
        aspect-ratio: 1;
    }

    &.checked>.mark {
        mask-image: url('/static/icons/check.svg');
        background-color: v.$text-primary;
    }

    &:not(.checked)>.mark {
        mask-image: url('/static/icons/x-mark.svg');
        background-color: v.$text-primary;
    }
}
