@mixin logo($name) {
    &.#{$name} {
        background-image: url('/static/logos/#{$name}.svg');
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;

    height: 80%;
    aspect-ratio: 2 / 1;

    &.sm {
        height: 80%;
    }

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include logo('imdb');
    @include logo('tmdb');
    @include logo('tvdb');
    @include logo('tvmaze');
}
