@use 'vars' as v;

@use 'grid' as g;

#outline {
    display: none;
    position: sticky;
    top: v.$toolbar-height;
    align-self: start;
    height: calc(100vh - #{v.$toolbar-height});

    @include g.on-mobile {
        top: v.$toolbar-height-touch;
        height: calc(100vh - #{v.$toolbar-height-touch});
    }
    touch-action: none;
    user-select: none;
    cursor: pointer;
    width: 64px;

    &.visible {
        display: grid;
        grid-template-rows: 1fr;
    }

    &-mark {
        grid-area: 1 / 1;
        align-self: start;
        position: relative;
        background-color: color-mix(in srgb, v.$color-primary 20%, transparent);
        border-radius: v.$radius;
        border: 1px solid color-mix(in srgb, v.$color-primary 50%, transparent);
        top: var(--outline-top, 0);
        height: var(--outline-height, 0);
    }
}

.outline-sample {
    padding: v.$gap-xs;
    grid-area: 1 / 1;
    align-self: start;
    position: relative;
    font-size: 0.8em;
    text-align: center;
    color: v.$text-primary;
    user-select: none;

    &.hidden {
        visibility: hidden;
    }

    &.seen {
        color: v.$text-muted;
        font-weight: v.$bold-weight;
    }

    &.pending {
        color: v.$color-primary;
        font-weight: v.$bold-weight;
    }
}
