@use 'grid' as g;
@use 'input' as i;
@use 'vars' as v;

.toolbar {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: v.$gap;

    &.toolbar-padding {
        padding: v.$gap;
    }
}

.toolbar-brand {
    font-size: v.$font-lg;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: v.$text-gap;
    cursor: pointer;

    height: v.$input-height * 1.5;

    @include g.on-mobile {
        height: v.$input-height-touch;
    }
}

.toolbar-dropdown {
    display: flex;
    flex-direction: row;
    gap: v.$gap;

    @include g.on-mobile {
        flex-direction: column;
        grid-column: 1 / -1;
    }
}

.toolbar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: v.$gap-xs;
    cursor: pointer;

    height: v.$input-height-touch;
    min-width: v.$input-height-touch;
    padding: 0;
    border: none;
    border-radius: v.$radius;
    background: transparent;

    @include g.on-desktop {
        display: none;
    }
}

.toolbar-item {
    display: flex;
    align-items: center;
    gap: v.$text-gap;

    height: v.$input-height;
    min-width: v.$input-height;

    @include g.on-mobile {
        height: v.$input-height-touch;
        min-width: v.$input-height-touch;
    }

    color: v.$text-primary;
    background-color: v.$bg-dark-transparent;
    border-radius: v.$radius;
    border: none;

    @include i.has-text;

    &:hover {
        background: v.$bg-dark;
    }

    &.active {
        background: v.$bg-highlight;
        color: v.$color-primary;
    }
}
