@use "grid" as g;

.toolbar {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: $gap;

    &.toolbar-padding {
        padding: $gap;
    }
}

.toolbar-brand {
    font-size: $font-lg;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: $text-gap;
    cursor: pointer;

    height: $input-height * 1.5;

    @include g.on-mobile {
        height: $input-height-touch;
    }
}

.toolbar-dropdown {
    display: flex;
    flex-direction: row;
    gap: $gap;

    @include g.on-mobile {
        flex-direction: column;
        grid-column: 1 / -1;
    }
}

.toolbar-toggle {
    display: flex;
    align-items: center;
    gap: $gap-xs;
    cursor: pointer;

    height: $input-height-touch;

    @include g.on-desktop {
        display: none;
    }
}

.toolbar-item {
    height: $input-height-touch;
    min-width: $input-height-touch;
    padding: $padding;

    color: $text-primary;
    background-color: $bg-dark-transparent;
    border-radius: $radius;
    border: none;

    &:hover {
        background: $bg-dark;
    }

    &.active {
        background: $bg-highlight;
        color: $color-primary;
    }
}